<template>
    <div>
      
        <div class="login-page">
          <div class="form">
            <form class="login-form">
              <input type="text" v-model= "user.email" placeholder="Email"/>
              <input type="password" v-model= "user.mdp" placeholder="Password"/>
              <button @click="sendInscription">Sign up</button>
              <div v-if="this.display">Bravo, vous êtes inscrit !</div>
            </form>
          </div>
        </div>
    </div>
</template>
<script>
  module.exports = {
  data () {
    return {
        user:{
          email : "",
          mdp : ""
        },
        display: false
    }
  },
  methods: {
    sendInscription() {
      if(this.user.email!=="" && this.user.mdp!=="")
        this.$emit('send-inscription', this.user)
        this.user.email = ""
        this.user.mdp = ""
        this.display = true
    }
  }
}
</script>

<style scoped>

.login-page {
  width: 25%;
  height: 10%;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #474645;
  margin: auto auto 500px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #eeb20d;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #ca980c;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

</style>
